
@font-face {font-family: "iconfont";
  src: url('iconfont.ttf') format('truetype'); 
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  vertical-align: middle;
}
.iconfont-large{
  font-family:"iconfont" !important;
  font-size: 24px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  vertical-align: middle;
}

.self-shopcart:before { content: "\e601"; }

.self-qq:before { content: "\e616"; }

.self-mobile:before { content: "\e621"; }

.self-bianji:before { content: "\e83f"; }

.self-rmb:before { content: "\e62f"; }

.self-yinhangka:before { content: "\e6e9"; }

.self-delete:before { content: "\e677"; }

.self-about:before { content: "\e605"; }

.self-star:before { content: "\e75c"; }

.self-shop:before { content: "\e60c"; }

.self-delivery:before { content: "\e67f"; }

.self-code:before { content: "\e629"; }

.self-qiye:before { content: "\e6dd"; }

.self-add:before { content: "\e619"; }

.self-pay:before { content: "\e606"; }

.self-male:before { content: "\e623"; }

.self-xiaofeiguize:before { content: "\e837"; }

.self-edu:before { content: "\e692"; }

.self-upload:before { content: "\e66f"; }

.self-fabu:before { content: "\e68c"; }

.self-near:before { content: "\e603"; }

.self-hongbao:before { content: "\e640"; }

.self-xiaofeijilu:before { content: "\e624"; }

.self-fulijilu:before { content: "\e6b1"; }

.self-download:before { content: "\e626"; }

.self-tiqufuli:before { content: "\e610"; }

.self-down:before { content: "\e617"; }

.self-service:before { content: "\e607"; }

.self-weixin:before { content: "\e614"; }

.self-setting:before { content: "\e60d"; }

.self-female:before { content: "\e67e"; }

.self-heart:before { content: "\e822"; }

.self-lock:before { content: "\e60f"; }

.self-wallet:before { content: "\e615"; }

.self-address:before { content: "\e609"; }

.self-recept:before { content: "\e628"; }

.self-libao:before { content: "\e602"; }

.self-location:before { content: "\e608"; }

.self-nodata:before { content: "\e637"; }

.self-geti:before { content: "\e62c"; }

.self-fenghuang:before { content: "\e604"; }

.self-seller:before { content: "\e60a"; }

.self-weibo:before { content: "\e635"; }

.self-dingdanguanli:before { content: "\e612"; }

.self-shenfenzheng:before { content: "\e6fb"; }

.self-shoukuan:before { content: "\e7bc"; }

.self-group:before { content: "\e66e"; }

.self-renzheng:before { content: "\e618"; }

.self-me:before { content: "\e6c7"; }

.self-crown:before { content: "\e600"; }

.self-zhifubao:before { content: "\e62a"; }

.self-search:before { content: "\e613"; }

.self-tel:before { content: "\e652"; }

.self-shangpinguanli:before { content: "\e611"; }

.self-home:before { content: "\e63f"; }

.self-qrcode:before { content: "\e6e8"; }

.self-tiqulishi:before { content: "\e627"; }

.self-noorder:before { content: "\e60b"; }

.self-success:before { content: "\e60e"; }